@charset "UTF-8";

/* ページ全体のスタイル
----------------------------------------- */

body {
  color: #000;
  font-weight: 400;
  font-family: 'Noto Sans JP';
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: bottom;
}

li {
  list-style: none;
}

/* 共通
------------------------------------------ */

.freetrial__heading {
  font-size: 21px;
  font-weight: 600;
  color: #fa7da3;
  text-align: center;
  letter-spacing: 0.1em;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .freetrial__heading {
    font-size: 34px;
  }
}

.freetrial__button {
  display: flex;
  /* justify-content: center; */
  width: 350px;
  height: 80px;
  background-color: #49c43d;
  align-items: center;
  color: #fff;
  margin: 9px auto 0;
  border-radius: 40px;
}

@media (min-width: 768px) {
  .freetrial__button {
    width: 570.58px;
    height: 130.1px;
    margin: 13px auto 0;
    border-radius: 65.05px;
  }

  .freetrial__button:hover {
    background-color: #40e02f;
  }
}

.freetrial__buttonTxt {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.33;
  margin-left: 71px;
  letter-spacing: 0.1em;
}

@media (min-width: 768px) {
  .freetrial__buttonTxt {
    font-size: 34px;
    margin-left: 117px;
  }
}

.freetrial__buttonArrow {
  margin-left: 30px;
}

@media (min-width: 768px) {
  .freetrial__buttonArrow {
    margin-left: 45px;
  }
}

.freetrial__menuTitle {
  display: flex;
  width: 350px;
  justify-content: center;
  align-items: center;
  margin: 30px auto 8px;
  height: 41px;
  font-size: 17px;
  letter-spacing: 0.1em;
  color: #50bfff;
  border-top: solid 1px #50bfff;
  border-bottom: solid 1px #50bfff;
}

@media (min-width: 768px) {
  .freetrial__menuTitle {
    width: 577px;
    margin: 48px auto 18px;
    height: 66px;
    font-size: 28px;
  }
}

.freetrial__menuDescription {
  width: 350px;
  margin: 0 auto;
  color: #333333;
}

@media (min-width: 768px) {
  .freetrial__menuDescription {
    width: 577px;
    line-height: 1.6;
  }
}

.freetrial__menuTxtLarge {
  font-size: 14px;
}

@media (min-width: 768px) {
  .freetrial__menuTxtLarge {
    font-size: 22.86px;
  }
}

.freetrial__menuTxtSmall {
  font-size: 11px;
}

@media (min-width: 768px) {
  .freetrial__menuTxtSmall {
    font-size: 17.96px;
  }
}

.freetrialbox1 {
  padding: 15px 0 36px;
}
.freetrialbox2 {
  padding: 25px 0 34px;
}
.freetrialbox3 {
  padding: 25px 0 43px;
}

@media (min-width: 768px) {
  .freetrialbox1 {
    padding: 54px 0 56px;
  }
  .freetrialbox2 {
    padding: 52px 0 43px;
  }
  .freetrialbox3 {
    padding: 51px 0 65px;
  }
}

.section__heading {
  margin: 0 auto;
}

.section__headingMain {
  display: flex;
  color: #fa7da3;
  align-items: center;
  justify-content: center;
  margin-bottom: 23px;
}

.section__headingMain--voice {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .section__headingMain--course {
    margin-bottom: 39px;
  }
  .section__headingMain--voice {
    margin-bottom: 35px;
  }}

.section__headingTxt {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.04em;
}

.section__headingTxt--course {
  margin: 0 5px 0;
}

.section__headingTxt--voice {
  margin: 0 14px 0;
}

@media (min-width: 768px) {
  .section__headingTxt {
    font-size: 42px;
  }
  .section__headingTxt--voice {
    margin: 0 20px 0;
  }
}

.section__headingPrefix {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  color: #4d2b1b;
  align-items: center;
  justify-content: center;
}

.section__headingPrefix--feature {
  margin-bottom: 6px;
}

.section__headingPrefix--course {
  margin-bottom: 6px;
}

@media (min-width: 768px) {
  .section__headingPrefix--feature {
    margin-bottom: 11px;
  }
}

@media (min-width: 768px) {
  .section__headingPrefix--course {
    font-size: 24px;
    margin-bottom: 11px;
  }
}

.section__headingLogo {
  margin: 0 5px 4px 0;
}

/* Header
------------------------------------------ */

.header {
  display: flex;
  padding: 0 2.3% 0 3.07%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  column-gap: 6px;
}

@media (min-width: 768px) {
  .header {
    max-width: 1030px;
    width: 95%;
    height: 92px;
    margin: 0 auto;
    padding: unset;
  }
}

.header__button {
  display: flex;
  width: 78.8%;
  max-width: 291px;
  column-gap: 3.4%;
}

@media (min-width: 768px) {
  .header__button {
    width: unset;
    max-width: unset;
    column-gap: 21px;
  }
}

.header__buttonTxt {
  letter-spacing: 0.05em;
  font-size: 12px;
  line-height: 1;
}

@media (min-width: 768px) {
  .header__buttonTxt {
    font-size: 21.12px;
  }
}

.header__buttonTxtSmall {
  letter-spacing: 0.05em;
  font-size: 10px;
  line-height: 1;
}

@media (min-width: 768px) {
  .header__buttonTxtSmall {
    font-size: 17.87px;
  }
}

.header__buttonArrow {
  margin-left: 7px;
}

.header__buttonArrowWrap {
  display: flex;
  align-items: center;
}

.header__buttonInquiry {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 34px;
  font-size: 18px;
  max-width: 107px;
  width: 36.8%;
  height: 31px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 34px;
  color: #fff;
  background-color: #fa7da3;
}

@media (min-width: 768px) {
  .header__buttonInquiry {
    width: 189.1px;
    max-width: unset;
    height: 50.39px;
  }
}

.header__buttonReserve {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 34px;
  font-size: 18px;
  width: 59.7%;
  max-width: 174px;
  height: 31px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 34px;
  color: #fff;
  background-color: #49c43d;
}

@media (min-width: 768px) {
  .header__buttonReserve {
    width: 295.49px;
    max-width: unset;
    height: 50.39px;
  }
}

.cover {
  background-color: #fa7da3;
  position: relative;
  color: #fff;
}

.cover__image {
  display: block;
  height: 313px;
  margin: 0 auto;
  object-fit: cover;
  width: 100%;
}

@media (min-width: 768px) {
  .cover__image {
    height: unset;
    min-height: 612px;
    object-position: 35% 100%;
  }
}

.cover__main {
  position: absolute;
  top: 20px;
  left: 4.6%;
  display: flex;
  justify-content: center;
  width: 43.1%;
  min-width: 168px;
}

@media (min-width: 768px) {
  .cover__main {
    top: 20px;
    left: 50%;
    transform: translateX(-94%);
    line-height: 1;
    align-items: end;
    flex-wrap: wrap;
    min-width: unset;
    width: unset;
  }
}

.cover__titleSp {
  font-size: 42px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  row-gap: 10px;
}

@media (min-width: 768px) {
  .cover__titleSp {
    display: none;
  }
}

@media (max-width: 767px) {
  .cover__title {
    display: none;
  }
}

@media (min-width: 768px) {
  .cover__title {
    font-size: 122.15px;
    font-weight: 400;
    text-shadow: 10px 10px 10px rgba(250, 125, 163, .4), -10px -10px 10px rgba(250, 125, 163, .4),
      -10px 10px 10px rgba(250, 125, 163, .4), 10px -10px 10px rgba(250, 125, 163, .4),
      10px 0 10px rgba(250, 125, 163, .4), -10px 0 10px rgba(250, 125, 163, .4),
      0 10px 10px rgba(250, 125, 163, .4), 0 -10px 10px rgba(250, 125, 163, .4);
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
  }
}

.cover__subtitle {
  font-size: 18px;
}

@media (min-width: 768px) {
  .cover__subtitle {
    font-size: 36px;
    width: 100%;
    text-align: right;
    margin: 20px 0 0 20px;
  }
}

.cover__campaign {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fca4bf;
  display: flex;
  height: 107px;
  width: 48%;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

@media (min-width: 768px) {
  .cover__campaign {
    height: 222px;
    width: 42.5%;
    max-width: 423px;
    top: 0;
    left: 51.2%;
    transform: translateX(10%);
    box-shadow: 4px 4px 0px 0 rgb(231, 116, 151);
    column-gap: 24px;
  }
}

.cover__campaignPrefix {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .cover__campaignPrefix {
    row-gap: 7px;
  }
}

.cover__campaignLimited {
  color: #fa7da3;
  background-color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  line-height: 1.77;
}

@media (min-width: 768px) {
  .cover__campaignLimited {
    font-size: 29.25px;
  }
}

.cover__campaignMonth {
  font-size: 24px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .cover__campaignMonth {
    font-size: 54px;
  }
}

.cover__campaignPrice {
  color: #fffd7a;
  display: flex;
  align-items: baseline;
  margin-top: 10px;
  font-weight: 700;
}

.cover__campaignPriceValue {
  font-size: 76px;
  line-height: 1;
}

@media (min-width: 768px) {
  .cover__campaignPriceValue {
    font-size: 171px;
  }
}

.cover__campaignPriceUnit {
  font-size: 36px;
  line-height: 1;
}

@media (min-width: 768px) {
  .cover__campaignPriceUnit {
    font-size: 81px;
  }
}

.cover__regularPrice {
  position: absolute;
  top: 108px;
  right: 25px;
}

@media (min-width: 768px) {
  .cover__regularPrice {
    width: 41%;
    max-width: 423px;
    top: 231px;
    left: 50%;
    transform: translateX(17%);
    text-align: right;
    padding-right: 5%;
  }
}

.cover__regularPriceValue {
  font-family: Outfit;
  font-size: 14px;
  line-height: 1;
}

@media (min-width: 768px) {
  .cover__regularPriceValue {
    font-size: 26.48px;
  }
}

.cover__regularPriceUnit {
  font-size: 9px;
  line-height: 1;
}

@media (min-width: 768px) {
  .cover__regularPriceUnit {
    font-size: 17.02px;
  }
}

.cover__feature {
  position: absolute;
  top: 155px;
  right: 26px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 34.1%;
}

@media (min-width: 768px) {
  .cover__feature {
    width: 41%;
    max-width: 423px;
    row-gap: 20px;
    top: 310px;
    left: 51.3%;
    transform: translateX(10%);
  }
}

.cover__featureItem {
  height: 35px;
  text-align: center;
  border: 1px solid #fff;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .cover__featureItem {
    height: 69px;
    font-size: 28px;
  }
}


/* Giveaway
------------------------------------------ */


.giveaway {
  background-color: #fffedd;
  padding: 20px 0 12px;
}

@media (min-width: 768px) {
  .giveaway {
    padding: 37px 0 26px;
  }
}

.giveaway__heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.giveaway__headingTxt {
  font-size: 21px;
  color: #fa7da3;
  margin: 0 8px 2px 7px;
}

@media (min-width: 768px) {
  .giveaway__headingTxt {
    font-size: 34px;
    margin: 0 16px;
  }
}

.giveaway__headingSlash {
  height: 100%;
  object-fit: contain;
}

.giveaway__main {
  width: 350px;
  margin: 10px auto 0;
}

@media (min-width: 768px) {
  .giveaway__main {
    width: 550px;
    margin: 19px auto 0;
  }
}

.giveaway__course {
  color: #fff;
  font-size: 21px;
  text-align: center;
  background-color: #fa7da3;
  border: 1px solid #fa7da3;
  border-radius: 10px 10px 0 0;
}

@media (min-width: 768px) {
  .giveaway__course {
    font-size: 32px;
    height: 47px;
  }
}


.giveaway__offer {
  background-color: #fff;
  color: #fa7da3;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fa7da3;
  border-radius: 0 0 10px 10px;
}

@media (min-width: 768px) {
  .giveaway__offer {
    height: 100px;
  }
}

.giveaway__offerTxt {
  display: flex;
  justify-content: center;
  align-items: baseline;
  line-height: 1;
  margin-bottom: 5px;
}

.giveaway__offerLarge {
  font-size: 42px;
  font-weight: 600;
  margin-left: 5px;
}

@media (min-width: 768px) {
  .giveaway__offerLarge {
    font-size: 67.93px;
  }
}

.giveaway__offerSmall {
  font-size: 27px;
  font-weight: 400;
  margin-left: 5px;
}

@media (min-width: 768px) {
  .giveaway__offerSmall {
    font-size: 43.67px;
  }
}

.giveaway__feature {
  font-size: 10px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .giveaway__feature {
    font-size: 14px;
    margin-top: 15px;
  }
}


/* Feature
------------------------------------------ */


.feature {
  background-color: #fdf0f5;
  padding: 35px 0 30px;
}

@media (min-width: 768px) {
  .feature {
    background-color: #fdf0f5;
    padding: 50px 0 61px;
  }
}

.feature__headingLogo {
  margin: 0 5px 4px 0;
}

.feature__item {
  width: 350px;
  margin: 0 auto;
}
.feature__item--2nd {
  margin: 31px auto 0;
}
.feature__item--3rd {
  margin: 30px auto 0;
}

@media (min-width: 768px) {
  .feature__item {
    min-width: 768px;
    width: unset;
    max-width: 780px;
    margin: 48px auto 0;
  }
  .feature__item--2nd {
    margin: 48px auto 0;
  }
  .feature__item--3rd {
    margin: 50px auto 0;
  }
}

.feature__itemTitle {
  height: 45.92px;
  background-color: #fa7da3;
  color: #fff;
  font-size: 18px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .feature__itemTitle {
    height: 74px;
    font-size: 28px;
  }
}

.feature__itemDetail {
  border: 1px solid #fa7da3;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 14px 20px 17px;
}
.feature__itemDetail--2nd {
  padding: unset;
  padding-bottom: 16px;
}
.feature__itemDetail--3rd {
  padding: 14px 14px 9px;
}

@media (min-width: 768px) {
  .feature__itemDetail {
    padding: 25px 40px 44px;
  }
  .feature__itemDetail--2nd {
    padding: 25px 40px 30px;
  }
  .feature__itemDetail--3rd {
    padding: 26px 40px 30px;
  }
}

.feature__item1Description {
  font-size: 14px;
  letter-spacing: 0.04em;
  font-feature-settings: "palt";
  color: #333333;
  margin-bottom: 14px;
}

@media (min-width: 768px) {
  .feature__item1Description {
    font-size: 21px;
    margin-bottom: 27px;
    letter-spacing: 0.08em;
  }
}

.feature__item1Image {
  display: flex;
  column-gap: 22px;
}

@media (min-width: 768px) {
  .feature__item1Image {
    column-gap: 41px;
    justify-content: center;
  }
}

.feature__item1Salon {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}

.feature__item1SalonLogo {
  width: 143px;
  height: 85px;
  border: 1px solid #fa7da3;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .feature__item1SalonLogo {
    width: 230px;
    height: 134px;
  }
}

.feature__item1SalonLogo--grey {
  border: 1px solid #666666;
  color: #433e3f;
  font-size: 18px;
}

@media (min-width: 768px) {
  .feature__item1SalonLogo--grey {
    font-size: 29px;
  }
}

.feature__item1SalonFeature {
  font-size: 14px;
  color: #333333;
}

@media (min-width: 768px) {
  .feature__item1SalonFeature {
    font-size: 21px;
  }
}

.feature__item2Description {
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #333333;
  margin: 14px auto 22px;
  width: 320px;
}

@media (min-width: 768px) {
  .feature__item2Description {
    font-size: 21px;
    margin: 0 auto 27px;
    width: unset;
    letter-spacing: unset;
  }
}

.feature__item2PlanTitle {
  font-size: 23px;
  font-weight: 600;
  color: #4d2c1c;
  text-align: center;
  margin-bottom: 24px;
}
.feature__item2PlanTitle--2nd {
  margin: 43px 0 25px;
}

@media (min-width: 768px) {
  .feature__item2PlanTitle {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .feature__item2PlanTitle--2nd {
    margin: 53px 0 27px;
  }
}

.feature__item2Plan1Image {
  position: relative;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .feature__item2Plan1Image {
    font-size: 16px;
  }
}

.feature__item2Plan1BodyImage {}

.feature__item2Plan1BodyText {
  position: absolute;
  text-align: center;
  top: -1%;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1.5;
}

.feature__item2Plan1BodyText--2nd {
  top: 30%;
}

.feature__item2Plan1BodyText--3rd {
  top: 40%;
}

.feature__item2Plan1BodyText--4th {
  top: 60%;
}

.feature__item2Plan1BodyText--5th {
  top: 76%;
}

.feature__item2Plan1BodyText--6th {
  top: 81%;
}

.feature__item2Plan1BodyText--7th {
  top: 11%;
  transform: translateX(316%);
}

.feature__item2Plan1BodyText--8th {
  top: 24%;
  transform: translateX(530%);
}

.feature__item2Plan1BodyText--9th {
  top: 59%;
  transform: translateX(250%);
}

@media (min-width: 768px) {
  .feature__item2Plan1BodyText {
    top: 3%;
    left: 50%;
    transform: translateX(-78%);
  }

  .feature__item2Plan1BodyText--2nd {
    top: 26%;
    transform: translateX(-95%);
  }

  .feature__item2Plan1BodyText--3rd {
    top: 45%;
    transform: translateX(-75%);
  }

  .feature__item2Plan1BodyText--4th {
    top: 58%;
    transform: translateX(-125%);
  }

  .feature__item2Plan1BodyText--5th {
    top: 66%;
    transform: translateX(-184%);
  }

  .feature__item2Plan1BodyText--6th {
    top: 93%;
    transform: translateX(-184%);
  }

  .feature__item2Plan1BodyText--7th {
    top: 12%;
    transform: translateX(350%);
  }

  .feature__item2Plan1BodyText--8th {
    top: 24%;
    transform: translateX(685%);
  }

  .feature__item2Plan1BodyText--9th {
    top: 39.5%;
    transform: translateX(388%);
  }
}

.feature__item2Plan2Title {
  font-size: 23px;
  font-weight: 600;
  color: #4d2c1c;
  text-align: center;
  margin-bottom: 30px;
}

.feature__item2Plan2Image {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

@media (min-width: 768px) {
  .feature__item2Plan2Image {
    flex-direction: row;
    justify-content: center;
    column-gap: 12px;
  }
}

.feature__item2Plan2ImageBox {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

@media (min-width: 768px) {
  .feature__item2Plan2ImageBox {
    column-gap: 12px;
  }
}

.feature__item2Plan2ImageParts {
  font-size: 14px;
  font-weight: 600;
  color: #fa7da3;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}

.feature__item3Description {
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #333333;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .feature__item3Description {
    font-size: 21px;
    margin-bottom: unset;
    letter-spacing: unset;
  }
}

/* Course
------------------------------------------ */

.course {
  padding: 10px 0 20px;
}

@media (min-width: 768px) {
  .course {
    padding-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .course__itemWrap {
    display: flex;
    column-gap: 31px;
    justify-content: center;
  }
}

.course__item1 {
  width: 350px;
  margin: 0 auto;
}

.course__item2 {
  width: 350px;
  margin: 30px auto 0;
}

@media (min-width: 768px) {
  .course__item1 {
    margin: unset;
  }

  .course__item2 {
    margin: unset;
  }
}

.course__itemTitle {
  height: 45.92px;
  background-color: #fdf0f5;
  color: #fa7da3;
  font-size: 18px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fa7da3;
  border-bottom: none;
}

@media (min-width: 768px) {
  .course__itemTitle {
    height: 58px;
    font-size: 28px;
  }
}

.course__itemDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fa7da3;
  border-top: none;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 15px 20px 19px;
}

@media (min-width: 768px) {
  .course__itemDetail {
    padding: 11px 14px 18px;
  }
}

.course__itemDescription {
  font-size: 14px;
  color: #333333;
  margin-bottom: 14px;
}

@media (min-width: 768px) {
  .course__itemDescription {
    font-size: 18px;
    margin-bottom: 16px;
    letter-spacing: -0.01em;
  }
}


/* Voice
------------------------------------------ */


.voice {
  background-color: #fdf0f5;
  padding: 27px 0 19px;
}

@media (min-width: 768px) {
  .voice {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 50px;
  }
}

@media (min-width: 768px) {
  .voice__cover {
    max-width: 975px;
    width: 100%;
  }
}

.voice__slickItem {
  margin: 0 1.9vw;
}

@media (min-width: 768px) {
  .voice__slickItem {
    margin: 0 7.5px;
  }
}

.voice__itemTitle {
  height: 45.92px;
  background-color: #fa7da3;
  color: #fff;
  font-size: 18px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.voice__itemDetail {
  position: relative;
  border: 1px solid #fa7da3;
  background-color: #fff;
  border-radius: 10px;
  padding: 60.92px 5% 13px;
  display: flex;
  column-gap: 10px;
  height: 100%;
  margin-top: -45.92px;
  z-index: -1;
}

.voice__itemProfile {
  color: #fa7da3;
  font-size: 16px;
  margin-bottom: 5px;
}

.voice__itemDescription {
  font-size: 14px;
  color: #333;
}

.voice__itemImage {
  object-fit: contain;
  height: 113px;
  margin: auto 0;
}

.slick-track {
  display: flex;
}

.slick-slide {
  height: auto !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 20px;
}

.slick-dots {
  bottom: -35px;
  display: flex;
  justify-content: center;
  column-gap: 15px;
}

.slick-dots li {
  width: 15px;
  height: 15px;
  margin: 0;
}

.slick-dots li button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffd2d2;
  cursor: pointer;
  padding: 0;
}

.slick-dots li button::before {
  width: 15px;
  height: 15px;
  line-height: normal;
  border-radius: 50%;
  opacity: 0;
}

.slick-dots li button:hover::before,
.slick-dots li.slick-active button::before {
  color: #fa7da3;
  background-color: #fa7da3;
  opacity: 1;
}

.voice__slickDots {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  margin-top: 20px;
}

.voice__slickDotsDummy {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffd2d2;
}

.voice__slickDotsDummy--active {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fa7da3;
}


/* Footer
------------------------------------------ */


.footer {
  background-color: #fa7da3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0 11px;
}

@media (min-width: 768px) {
  .footer {
    padding: 28px 0 22px;
  }
}